html,
body {
    margin: 0;
}

body {
    font-family: "Oswald", sans-serif;
    background-color: #efefef;
}

* {
    box-sizing: border-box;
}

.login-form {
    max-width: 700px;
    width: 100%;
}

header {
    background-color: #293241;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    color: white;
    margin-bottom: 20px;
}

.custom-column {}

.custom-card {
    width: 100%;
}

#post-spider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.btn-delete {
    background-color: crimson;
    border: none;
    color: white;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-delete:hover {
    background-color: darkred;
}


.cart-btn-cont {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    text-decoration: none;
    font-size: 30px;
    background-color: #ffd166;
    text-align: center;
    position: relative;
}

#cart-text {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    color: white;
    z-index: 5;
    font-size: 18px;
}



#shopping-cart-main {
    max-width: 800px;
    margin: 2rem auto;
    background-color: white;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

th,
td {
    padding: 0.75rem 1rem;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f0f0f0;
    font-weight: bold;
}